@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.form {
  color: var(--color-content-primary);
  transition: $switch-theme-trans;
}

.subscribe-form {
  min-width: 360px;
  width: 100%;

  @include width-md {
    min-width: initial;
  }
}

.form__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.35;
  margin: 0;
  margin-bottom: 50px;

  @include width-md {
    margin-bottom: 40px;
  }
}

.form__input-wrap {
  position: relative;
  width: 100%;
}

.form__input {
  width: 100%;
  max-height: 50px;
  background-color: transparent;
  color: inherit;
  padding: 11px 22px 11px 20px;
  box-sizing: border-box;

  border: 1px solid var(--color-form-input-border);
  border-radius: $button-border-radius;

  font-size: 13px;
  font-weight: 500;
  line-height: 2.15;
}

.form__input::placeholder {
  color: var(--color-content-secondary);
  transition: $switch-theme-trans;
}

.form__input:focus,
.form__input:hover {
  outline: none;
}

.form__input:focus::placeholder,
.form__input:hover::placeholder {
  color: var(--color-content-primary);
}

.form__input-with-btn {
  padding-right: 56px;
}

.form__input-btn {
  position: absolute;
  right: 22px;
  top: 0;
  bottom: 0;
  margin: auto;

  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;

  cursor: pointer;
  transition: $switch-theme-trans;
}

.form__input-btn:focus {
  color: var(--color-link-hover);
  outline: none;
}

.form__select-reset {
  appearance: none;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: inherit;
}

.form__custom-select {
  border: 1px solid var(--color-form-custom-select);
  border-radius: 2px;
  padding: 8px 12px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.56;
  position: relative;
  cursor: pointer;
  transition: $switch-theme-trans;

  &::after {
    content: "";
    position: absolute;
    right: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
    rotate: -90deg;
    width: 7px;
    height: 15px;
    background-color: var(--color-content-primary);
    mask-image: url(../../../../images/slider-arrow.svg);
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &:focus-within {
    border-color: var(--color-content-primary);
  }

  @include width-md {
    font-size: 11px;
    line-height: 1.27;
  }
}

.form__custom-select_place_bikes {
  max-width: 114px;
}
