@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.form {
}

.subscribe-form {
  min-width: 360px;
  width: 100%;

  @include width-md {
    min-width: initial;
  }
}

.form__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.35;
  margin: 0;
  margin-bottom: 50px;

  @include width-md {
    margin-bottom: 40px;
  }
}

.form__input-wrap {
  position: relative;
  width: 100%;
}

.form__input {
  width: 100%;
  max-height: 50px;
  background-color: transparent;
  padding: 11px 22px 11px 20px;
  box-sizing: border-box;

  border: 1px solid var(--color-form-input-border);
  border-radius: $button-border-radius;

  font-size: 13px;
  font-weight: 500;
  line-height: 2.15;
}

.form__input::placeholder {
  color: var(--color-content-secondary);
  transition: color 0.25s ease-out;
}

.form__input:focus,
.form__input:hover {
  outline: none;
}

.form__input:focus::placeholder,
.form__input:hover::placeholder {
  color: var(--color-content-primary);
}

.form__input-with-btn {
  padding-right: 56px;
}

.form__input-btn {
  position: absolute;
  right: 22px;
  top: 0;
  bottom: 0;
  margin: auto;

  border: none;
  background-color: transparent;
  padding: 0;

  cursor: pointer;
  transition: color 0.25s ease-out;
}

.form__input-btn:focus {
  color: var(--color-link-hover);
  outline: none;
}
