@use "../../../abstracts/mixins" as *;

.track-card__label {
  position: absolute;
  left: 0;
  bottom: 16px;
  opacity: 0;
  transition: opacity 0.2s ease;

  @include width-xs {
    width: 70px;
  }
}
