@use "../../abstracts/variables.scss" as *;
@use "../../abstracts/mixins.scss" as *;
@use "../../abstracts/breakpoints.scss" as *;

.burger {
  display: none;
  position: absolute;
  z-index: 9999;
  right: var(--gutter-side);
  top: 18px;
  width: 22px;
  aspect-ratio: 1;
  border: 0;
  padding: 0;

  background-image: url(../../../../images/burger.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @include width-md {
    display: block;
  }
}

.burger[aria-expanded="true"] {
  background-image: url(../../../../images/burger_close.svg);
}
