@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.tracks-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, minmax(650px, 50%));
  align-items: stretch;
  gap: var(--slider-gap);
  position: relative;

  // transition: left 0.6s ease;

  @include width-md {
    scroll-snap-type: x mandatory;
    grid-template-columns: 100%;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.tracks-grid__track-card {
  aspect-ratio: 650 / 400;
  max-width: 650px;
}
