@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.tracks-grid {
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(650px, 50%);
  align-items: stretch;
  gap: var(--slider-gap);
  position: relative;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  // transition: left 0.6s ease;

  @include width-md {
    grid-template-columns: 100%;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.tracks-grid__item {
  padding: 0;
  margin: 0;
  list-style: none;
}
