.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 34px;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
  }
}
