.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 34px;

  @include reset-list;
}

@include width-md {
  .nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
  }
}
