.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 500px;
  background-color: var(--color-background-theme-button);
  transition: all 0.4s ease;
}

.switch__slider::before {
  position: absolute;
  content: "";
  height: $switch-height - $switch-gap * 2;
  width: $switch-height - $switch-gap * 2;
  left: $switch-gap;
  bottom: $switch-gap;
  border-radius: 50%;
  background-color: var(--color-accent-primary);
  transition: all 0.4s ease;
}

/* toggle animation*/
.switch__input:checked + .switch__slider::before {
  translate: $switch-width - $switch-height;
}

.switch__input:checked + .switch__slider {
  background-color: var(--color-background-theme-button);
}
