@use "../../../abstracts/variables" as *;

.form__input-btn {
  position: absolute;
  right: 22px;
  top: 0;
  bottom: 0;
  margin: auto;

  font-size: 13px;
  font-weight: 500;
  line-height: 2.15;
  text-transform: lowercase;

  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;

  cursor: pointer;
  transition: $switch-theme-trans;
}
