@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.testimony {
  padding: 0 var(--gutter-side) 0;
  box-sizing: border-box;
  position: relative;

  display: grid;
  grid-template-columns: 650fr 470fr;
  grid-template-areas: "image desc";
  gap: 80px;

  @include width-lg {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "desc";
    gap: 40px;
  }

  @include width-sm {
    padding-top: 20px;
  }
}

.testimony__image {
  grid-area: image;
}

.testimony__figure {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 50px;
  grid-area: desc;

  @include width-sm {
    gap: 40px;
  }
}

.testimony__quote {
  margin: 0;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.5px;
  margin: 0;

  @include width-sm {
    font-size: 23px;
    line-height: 1.26;
  }
}

.testimony__quote-text {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  margin: inherit;
}

.testimony__author {
  margin-top: auto;
}

.testimony__author-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  margin: 0 0 6px;
  color: var(--color-content-primary);

  @include width-md {
    margin-bottom: 4px;
  }

  @include width-sm {
    font-size: 14px;
    line-height: 1.57;
  }
}

.testimony__author-job {
  font-size: 16px;
  line-height: 1.75;

  @include width-sm {
    font-size: 10px;
    line-height: 1.6;
  }
}

.section-divider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%;
  width: calc(100% - var(--gutter-side) * 2);
  height: 1px;
  background-color: var(--color-section-divider);
  opacity: 0;

  @include width-sm {
    opacity: 1;
  }
}
