@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.testimony {
}

.testimony__figure {
  margin: 0;
}

.testimony__quote {
  margin: 0;
}

.testimony__quote-text {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  margin: inherit;
}

.testimony__author {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  margin: 0 0 6px;
  color: var(--color-content-primary);

  @include width-md {
    margin-bottom: 4px;
  }

  @include width-sm {
    font-size: 14px;
    line-height: 1.57;
  }
}

.testimony__author-job {
  font-size: 16px;
  line-height: 1.75;

  @include width-sm {
    font-size: 10px;
    line-height: 1.6;
  }
}

.section-divider {
  border-bottom: 1px solid var(--color-section-divider);
  height: 1px;
  width: calc(100% - var(--gutter-side) * 2);
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;

  @include width-sm {
    display: block;
  }
}

.testimony__section-divider {
  position: absolute;
  top: 40px;
}
