@use "../../abstracts/variables.scss" as *;

.page {
  font-family: $font-family;
  color: var(--color-content-primary);
  background-color: var(--color-background-primary);
  overflow-x: hidden;

  transition: $switch-theme-trans;
}
