@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.lead {
  width: 100%;
  padding: 20px 0 0 var(--gutter-side);
  box-sizing: border-box;
  position: relative;

  display: grid;
  grid-template:
    "title . image"
    ". . image" 50px
    "desc . image"
    ". . image" 50px
    "button . image"
    ". . image" 167px
    "bike-name . image"
    ". . image" auto
    / 460fr 250fr 610fr;

  @include width-xxl {
    grid-template-columns: 460fr 100fr 610fr;
  }

  @include width-md {
    padding: 40px var(--gutter-side) 0;
    grid-template:
      "title"
      "." 40px
      "image" minmax(348px, 450px)
      "." 40px
      "desc"
      "." 40px
      "button "
      / 1fr;
  }

  @include width-xs {
    grid-template:
      "title"
      "." 40px
      "image"
      "." 40px
      "desc"
      "." 40px
      "button "
      / 1fr;
  }
}

.lead__section-title {
  grid-area: title;
  margin-top: 60px;

  @include width-md {
    margin-top: 0;
  }
}

.lead__plain-text {
  grid-area: desc;
}

.lead__button {
  grid-area: button;
  max-width: 180px;

  @include width-sm {
    max-width: 100%;
  }
}

.lead__bike-name {
  line-height: 1;
  grid-area: bike-name;
  justify-self: start;
  position: relative;

  min-width: 0;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 300px;

  @include width-lg {
    max-width: 200px;
  }

  @include width-md {
    display: none;
  }
}

.lead__bike-name::after {
  $width: 132px;

  content: "";
  height: 2px;
  width: $width;
  background-color: #d7d4d4;
  position: absolute;
  top: 50%;
  right: -$width - 20px;
}

.lead__heading-image {
  grid-area: image;
  height: 100%;

  @include width-md {
    width: calc(100% - 48px + var(--gutter-side));
    justify-self: end;
  }
}

.lead__card-wrap {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  place-self: stretch start;
  margin-left: 50px;

  @include width-md {
    grid-column: 1;
    grid-row: 3;
    margin-left: 0;
  }
}

.lead__card {
  max-width: 440px;
  aspect-ratio: 440 / 300;
  padding: 20px 50px;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  margin-top: 355px;
  margin-bottom: 79px;

  position: sticky;
  top: 200px;
  cursor: initial;

  &:hover {
    box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  }

  @include width-md {
    max-width: 300px;
    padding: 16px 40px;
    margin-top: 40%;
    margin-bottom: 37px;
  }

  @include width-xs {
    max-width: 234px;
    padding: 10px 26px;
  }
}

.lead__card-image {
  object-fit: contain;
}
