@use "../../../abstracts/mixins" as *;

.testimony__author-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  margin: 0 0 6px;
  color: var(--color-content-primary);

  @include width-md {
    margin-bottom: 4px;
  }

  @include width-sm {
    font-size: 14px;
    line-height: 1.57;
  }
}
