@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.bikes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @include width-md {
    grid-template-columns: 1fr;
  }

  @include width-sm {
    grid-template-columns: repeat(3, 100%);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
