@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.section-image-text {
  padding: 120px var(--gutter-side) 60px;
  box-sizing: border-box;
  position: relative;

  display: grid;
  grid-template-columns: 650fr 470fr;
  gap: 80px;

  @include width-lg {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  @include width-md {
    padding: 60px var(--gutter-side) 40px;
    gap: 40px;
  }
}

.section-image-text__content {
  display: flex;
  flex-flow: column nowrap;
}

.section-image-text__title {
  font-size: 34px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.5px;
  margin: 0;

  @include width-sm {
    font-size: 23px;
    line-height: 1.26;
  }
}

.section-image-text__desc {
  margin-top: auto;
}
