@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.footer {
  background-color: var(--color-background-secondary);
  padding: 80px var(--gutter-side) 60px;

  display: grid;
  grid-template:
    "form . ."
    ". . ." 100px
    "copy . theme"
    / max-content auto min-content;

  @include width-md {
    padding: 60px var(--gutter-side) 16px;
    grid-template:
      "form form"
      ". ." 90px
      "copy logo"
      / 1fr 1fr;
  }

  transition: $switch-theme-trans;
}

.footer__form {
  grid-area: form;
}

.footer__form-title {
  max-width: 229px;

  @include width-md {
    max-width: 100%;
    min-width: 0;
  }
}

.footer__copyright {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
  color: var(--color-content-muted);
  grid-area: copy;
  align-self: end;
  transition: $switch-theme-trans;

  @include width-md {
    align-self: center;
  }
}

.footer__color-theme {
  grid-area: theme;

  @include width-md {
    display: none;
  }
}

.footer__logo {
  grid-area: logo;
  display: none;
  justify-self: end;
  width: 38px;

  @include width-md {
    display: block;
  }
}
