@use "./mixins" as *;

$font-family: "Inter", "Arial", sans-serif;

$card-border-radius: 20px;

$button-border-radius: 4px;
$button-height: 50px;

$menu-height: 74px;

$card-box-shadow: 0px 20px 140px rgba(0, 0, 0, 0.06);
$card-box-shadow-hover: 0px 20px 140px rgba(0, 0, 0, 0.11);

$switch-width: 44px;
$switch-height: 24px;
$switch-gap: 2px;

$switch-theme-trans: background-color 0.5s ease-in-out, color 0.3s ease-in-out,
  border-color 0.3s ease-in-out;

:root {
  --gutter-side: 120px;
  --slider-gap: 40px;

  @include width-xl {
    --gutter-side: 80px;
  }

  @include width-lg {
    --gutter-side: 60px;
  }

  @include width-md {
    --gutter-side: 30px;
    --slider-gap: 30px;
  }

  @include width-sm {
    --gutter-side: 24px;
  }

  @include width-xs {
    --gutter-side: 18px;
  }
}
