$font-family: "Inter", "Arial", sans-serif;

$card-border-radius: 20px;
$button-border-radius: 4px;

$card-box-shadow: 0px 20px 140px rgba(0, 0, 0, 0.06);
$card-box-shadow-hover: 0px 20px 140px rgba(0, 0, 0, 0.11);
