$font-family: "Inter", "Arial", sans-serif;

$card-border-radius: 20px;
$button-border-radius: 4px;

$menu-height: 74px;

$card-box-shadow: 0px 20px 140px rgba(0, 0, 0, 0.06);
$card-box-shadow-hover: 0px 20px 140px rgba(0, 0, 0, 0.11);

$switch-width: 44px;
$switch-height: 24px;
$switch-gap: 2px;

$width-xxl: 1400px;
$width-xl: 1200px;
$width-lg: 992px;
$width-md: 768px;
$width-sm: 576px;
