@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.tracks {
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  max-width: calc(100% - var(--gutter-side));
  margin-left: auto;

  display: grid;
  grid-template:
    "title"
    "." 50px
    "text"
    "." 80px
    "grid"
    "." 50px
    "buttons"
    /1fr;

  @include width-md {
    max-width: 100%;
    padding: 0 var(--gutter-side) 0;

    grid-template:
      "title buttons"
      ". ." 40px
      "grid grid"
      ". ." 40px
      "text text"
      /1fr 1fr;
  }

  @include width-sm {
    padding-top: 40px;
  }
}

.tracks__section-divider {
  position: absolute;
  top: 40px;
}

.section-title {
  max-width: 460px;
  grid-area: title;
  align-self: center;
}

.tracks__plain-text {
  max-width: 460px;
  grid-area: text;

  @include width-md {
    max-width: 100%;
  }
}

.tracks__tracks-grid {
  grid-area: grid;
  left: 0;
}

.tracks__slider-buttons {
  gap: 20px;
  grid-area: buttons;

  @include width-md {
    justify-self: end;
  }
}
