@use "../../../abstracts/mixins" as *;

.lead__card {
  max-width: 440px;
  aspect-ratio: 440 / 300;
  padding: 20px 50px;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  margin-top: 355px;
  margin-bottom: 79px;

  position: sticky;
  top: 200px;
  cursor: initial;

  &:hover {
    box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  }

  @include width-md {
    max-width: 300px;
    padding: 16px 40px;
    margin-top: 40%;
    margin-bottom: 37px;
  }

  @include width-xs {
    max-width: 234px;
    padding: 10px 26px;
  }
}
