:root {
  --gutter-side: 120px;
}
@media (max-width: 1200px) {
  :root {
    --gutter-side: 80px;
  }
}
@media (max-width: 992px) {
  :root {
    --gutter-side: 60px;
  }
}
@media (max-width: 768px) {
  :root {
    --gutter-side: 30px;
  }
}
@media (max-width: 576px) {
  :root {
    --gutter-side: 24px;
  }
}
@media (max-width: 375px) {
  :root {
    --gutter-side: 18px;
  }
}

.page {
  font-family: "Inter", "Arial", sans-serif;
  color: var(--color-content-primary);
  background-color: var(--color-background-primary);
  overflow-x: hidden;
  transition: background 0.2s ease-in-out, color 0.4s ease-in-out;
}

.page__content {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--color-background-primary);
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.link-hover:hover {
  color: var(--color-link-hover);
}

.section-title {
  font-size: 55px;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 32px;
  }
}

.plain-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  margin: 0;
  color: var(--color-content-primary);
}
@media (max-width: 576px) {
  .plain-text {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .plain-text {
    font-size: 12px;
    line-height: 1.5;
  }
}

.plain-text_muted {
  color: var(--color-content-secondary);
}

.image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.button {
  width: 100%;
  height: 50px;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: var(--color-accent-primary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 4px;
}

.card {
  width: 100%;
  aspect-ratio: 1;
  background-color: var(--color-background-card);
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 28px var(--gutter-side);
  height: 74px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.burger {
  display: none;
  position: absolute;
  z-index: 9999;
  right: var(--gutter-side);
  top: 18px;
  width: 22px;
  aspect-ratio: 1;
  border: 0;
  padding: 0;
  background-image: url(../../../../images/burger.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
@media (max-width: 768px) {
  .burger {
    display: block;
  }
}

.burger[aria-expanded=true] {
  background-image: url(../../../../images/burger_close.svg);
}

.burger__bar {
  display: block;
  width: 22px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--color-content-primary);
  transition: all 0.2s ease-in-out;
}

.burger_opened .burger__bar:nth-child(2) {
  opacity: 0;
}

.burger_opened .burger__bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger_opened .burger__bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.menu {
  transition: transform 0.6s cubic-bezier(0.51, 0.01, 0.27, 0.99);
}
@media (max-width: 768px) {
  .menu {
    transform: translateX(100%);
    position: fixed;
    inset: 74px 0 0 0;
    z-index: 1000;
    padding: 70px 55px 38px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--color-background-primary);
  }
}

.menu[data-visible=true] {
  transform: translateX(0%);
}

.menu__color-theme {
  margin-top: auto;
  display: none;
}
@media (max-width: 768px) {
  .menu__color-theme {
    display: flex;
  }
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 34px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
  }
}
.nav__link {
  text-decoration: none;
  color: var(--color-content-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}
@media (max-width: 768px) {
  .nav__link {
    font-size: 18px;
    line-height: 1;
  }
}

.color-theme {
  align-items: center;
  gap: 22px;
}

.color-theme__icon {
  background-color: var(--color-content-muted);
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.color-theme__icon_type_light {
  mask-image: url(../../../../../../images/light-theme.svg);
  -webkit-mask-image: url(../../../../../../images/light-theme.svg);
  width: 28px;
}

.color-theme__icon_type_dark {
  mask-image: url(../../../../../../images/dark-theme.svg);
  -webkit-mask-image: url(../../../../../../images/dark-theme.svg);
  width: 19px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 500px;
  background-color: var(--color-background-theme-button);
  transition: all 0.4s ease;
}

.switch__slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: var(--color-accent-primary);
  transition: all 0.4s ease;
}

/* toggle animation*/
.switch__input:checked + .switch__slider::before {
  translate: 20px;
}

.switch__input:checked + .switch__slider {
  background-color: var(--color-background-theme-button);
}

.lead {
  width: 100%;
  min-height: 856px;
  padding-top: 20px;
  padding-left: var(--gutter-side);
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template: "title . image" ". . image" 50px "desc . image" ". . image" 50px "button . image" ". . image" 167px "bike-name . image"/460fr 250fr 610fr;
  place-items: start;
}
@media (max-width: 1400px) {
  .lead {
    grid-template-columns: 460fr 100fr 610fr;
  }
}
@media (max-width: 768px) {
  .lead {
    padding: 40px var(--gutter-side);
    grid-template: "title" "." 40px "image" minmax(348px, 450px) "." 40px "desc" "." 40px "button "/1fr;
  }
}
@media (max-width: 375px) {
  .lead {
    grid-template: "title" "." 40px "image" "." 40px "desc" "." 40px "button "/1fr;
  }
}

.lead__section-title {
  grid-area: title;
  margin-top: 60px;
}
@media (max-width: 768px) {
  .lead__section-title {
    margin-top: 0;
  }
}

.lead__plain-text {
  grid-area: desc;
}

.lead__button {
  grid-area: button;
  max-width: 180px;
}
@media (max-width: 576px) {
  .lead__button {
    max-width: 100%;
  }
}

.lead__bike-name {
  line-height: 1;
  grid-area: bike-name;
  justify-self: start;
  position: relative;
}
@media (max-width: 768px) {
  .lead__bike-name {
    display: none;
  }
}

.lead__bike-name::after {
  content: "";
  height: 2px;
  width: 132px;
  background-color: #d7d4d4;
  position: absolute;
  top: 50%;
  right: -152px;
}

.lead__heading-image {
  grid-area: image;
  height: 0;
  min-height: 100%;
}
@media (max-width: 768px) {
  .lead__heading-image {
    width: calc(100% - 48px + var(--gutter-side));
    justify-self: end;
  }
}

.lead__card-wrap {
  grid-column: 2/-1;
  grid-row: 1/-1;
  place-self: stretch start;
  margin-left: 50px;
}
@media (max-width: 768px) {
  .lead__card-wrap {
    grid-column: 1;
    grid-row: 3;
    margin-left: 0;
  }
}

.lead__card {
  max-width: 440px;
  aspect-ratio: 440/300;
  padding: 20px 50px;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  margin-bottom: 79px;
  margin-top: 327px;
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
}
@media (max-width: 768px) {
  .lead__card {
    max-width: 300px;
    padding: 16px 40px;
    margin-top: 40%;
    margin-bottom: 37px;
  }
}
@media (max-width: 375px) {
  .lead__card {
    max-width: 234px;
    padding: 10px 26px;
  }
}

.lead__card-image {
  aspect-ratio: 340/260;
}/*# sourceMappingURL=index.css.map */