.burger__bar {
  display: block;
  width: 22px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--color-content-primary);
  transition: all 0.2s ease-in-out;
}

.burger_opened .burger__bar:nth-child(2) {
  opacity: 0;
}

.burger_opened .burger__bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger_opened .burger__bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
